<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Туризм в Узбекистане{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'excursions:excursion_list' %}" class="site-title">SilkWay Tours</a> <!-- Название сайта -->
            </div>
            <ul>
                <li><a href="/">Назад на главную</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
